.interstitial_vip_upsell { 
    margin: 0; 
    padding: 0; 
    font: 10px verdana, arial, helvetica, sans-serif; 
    color: #000000; 
    line-height: 12px;
}
#local-frame { 
    margin: 0; 
    padding: 0; 
}
/*
     FILE ARCHIVED ON 17:24:45 Dec 24, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:11:16 May 28, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 1640.807 (3)
  esindex: 0.01
  captures_list: 2176.745
  CDXLines.iter: 13.399 (3)
  PetaboxLoader3.datanode: 656.727 (5)
  exclusion.robots.fetch: 473.067 (4)
  exclusion.robots: 474.267
  exclusion.robots.policy: 0.604
  RedisCDXSource: 42.603
  PetaboxLoader3.resolve: 1365.29 (2)
  load_resource: 888.854
*/